td,th,tr {
vertical-align:middle!important;
text-align:center!important;
padding-right:150px
}

table {
margin:0 auto;
font-size:18px!important
}

th {
background:grey
}

th,td {
padding-left:150px
}

div.wrapper {
text-align:center
}

div.wrapper table {
margin:0 auto;
text-align:left
}

td {
background:#F6F7F7
}

.red {
color:red
}

body {
height:500px;
background:#093f58;
font-family:impact
}

.warning {
vertical-align:middle!important;
text-align:center!important;
padding-top:20px;
font-family:Verdana;
color:#fff
}

.container-main {
background:#093f58
}

.title {
  padding-right: 2px;
}

.navbar-brand {
font-size:24px;
display:inline-block
}

.navbar-header {
text-align:center
}

a {
color:#fff
}

.flex-container {
display:-ms-flexbox;
display:flex;
-ms-flex-direction:row;
    flex-direction:row;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
-ms-flex-pack:start;
    justify-content:flex-start;
-ms-flex-line-pack:start;
    align-content:flex-start;
-ms-flex-align:start;
    align-items:flex-start
}

.flex-item {
-ms-flex-order:0;
    order:0;
-ms-flex:0 1 auto;
    flex:0 1 auto;
-ms-flex-item-align:auto;
    align-self:auto;
width:25%;
padding:10px;
box-sizing:border-box;
float:none
}
