.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-top: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start; }

.flex-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  float: none; }

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.image.ng-enter {
  -webkit-transition: 1.25s linear all;
  transition: 1.25s linear all;
  opacity:0;
}
.image.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}